# Editor-specific
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.history

# Python / Django
*.log
*.pot
*.pyc
__pycache__

# Apple specific
.DS_Store

# Anaconda
anaconda_projects/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
venv/

# Database
*.sqlite3

# Files tied to dataset or models made
*.pt
*.pkl
*.joblib
*.csv

# K8s secrets
k8s/secrets.yaml
**/secrets.yaml
*.secret
*.secrets